@{
    ViewData["Title"] = "Home Page";
}

<section class="content pt-2">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-12">
                <h2>Welcome TS Easy Stock Manager</h2>
            </div>
        </div>
    </div>
</section>



