<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-header">Stock</li>
        <li class="nav-item">
            <a href="/Transaction" class="nav-link">
                <i class="nav-icon fas fa-truck"></i>
                <p>Transactions</p>
            </a>
        </li>
        <li class="nav-header">Report</li>
        <li class="nav-item">
            <a href="/Report/StoreStockReport" class="nav-link">
                <i class="nav-icon fas fa-building"></i>
                <p>Store Stock</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Report/TransactionDetailReport" class="nav-link">
                <i class="nav-icon fas fa-list-alt"></i>
                <p>Transaction Detail</p>
            </a>
        </li>

        <li class="nav-header">Definitions</li>
        <li class="nav-item">
            <a href="/Category" class="nav-link">
                <i class="nav-icon fas fa-folder"></i>
                <p>
                    Category
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/UnitOfMeasure" class="nav-link">
                <i class="nav-icon fas fa-box-open"></i>
                <p>
                    Units
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Product" class="nav-link">
                <i class="nav-icon fas fa-barcode"></i>
                <p>
                    Product
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Store" class="nav-link">
                <i class="nav-icon fas fa-building"></i>
                <p>
                    Store
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/User" class="nav-link">
                <i class="nav-icon fas fa-user"></i>
                <p>
                    User
                </p>
            </a>
        </li>
        <li class="nav-header"></li>
        <li class="nav-item">
            <a href="/Auth/Logout" class="nav-link">
                <i class="nav-icon fas fa-sign-out-alt"></i>
                <p>
                    Logout
                </p>
            </a>
        </li>

    </ul>
</nav>