@model TS.EasyStockManager.Model.ViewModel.Store.EditStoreViewModel
@{
    ViewData["Title"] = "Edit Store";
}
@section script{
    <partial name="~/Views/Shared/_FormScriptsPartial.cshtml" />
}
<section class="content pt-2">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-6">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Store</h3>
                    </div>
                    <form asp-action="Edit" asp-antiforgery="true" id="frmCreate">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="StoreName"></label>
                                <input asp-for="StoreName" type="text" class="form-control">
                                <span asp-validation-for="StoreName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="StoreCode"></label>
                                <input asp-for="StoreCode" type="text" class="form-control">
                                <span asp-validation-for="StoreCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <a class="btn btn-default" href="/Store">Back</a>
                            <button id="btnSave" type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
